<div class="person-details-container">
  <div>
    <h1>Person details</h1>
  </div><br>

  <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

      <!-- First Name -->
      <div class="form-group col-xs-8 col-xs-offset-2">
        <label style="font-size: large">First Name:</label>
        <input type="text" class="form-control" name="frstname" required ng-model="pass.frstName"
        placeholder="First Name"/>
        <span class="text-danger"
        ng-show="userForm.frstname.$touched && userForm.frstname.$invalid">
        The First name is empty or incorrect format.
      </span>
    </div>

    <!-- Last Name -->
    <div class="form-group col-xs-8 col-xs-offset-2">
      <label style="font-size: large">Last Name:</label>
      <input type="text" class="form-control" name="lastName" ng-model="pass.lastName" placeholder="Last Name"
      required/>
      <span class="text-danger"
      ng-show="userForm.lastName.$touched && userForm.lastName.$invalid">
      The Last name is empty or incorrect format.
    </span>
  </div>

  <!-- Contact -->
  <div class="form-group col-xs-8 col-xs-offset-2">
    <label style="font-size: large">Contact:</label>
    <input type="number" min="1" placeholder="Contact No" name="ContactNo" class="form-control"
    maxlength="10" required ng-model="pass.phno"/>
    <span class="text-danger" ng-show="userForm.ContactNo.$touched && userForm.ContactNo.$invalid">
      The phone number is incorrect format.
    </span><br>
  </div>

  <!-- Email -->
  <div class="form-group col-xs-8 col-xs-offset-2">
    <label style="font-size: large">Email:</label>
    <input type="email" placeholder="Email Address" name="email" class="form-control " required
    ng-model="pass.mail"/>
    <span class="text-danger" ng-show="userForm.email.$touched && userForm.email.$invalid">
      The email is empty or incorrect format.
    </span><br>
  </div>

  <!-- Next Button -->
  <div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3" style="text-align: center">
      <button value="submit" ng-click="addinfo()"  class="btn btn-success" ng-disabled="userForm.$invalid">
        <span class="glyphicons glyphicons-arrow-right">Next</span>
      </button>
    </div>
  </div>

</form>
</div>
