<div class="confirmation-container">
	<div class="board row header">
		<h1>Travel Information</h1>
		<div class="col-md-12">
			<div class=" col-md-12">
				<h3>
					<span>{{mailContent[1].frstName}}</span>
					<span> {{mailContent[1].lastName}}</span>
					<span> will depart for {{mailContent[0].departureDate}} </span>
					and return on
					<span> {{mailContent[0].returnDate}}</span>
					<span>From {{mailContent[0].from}}</span>
					<span>To {{mailContent[0].to}}</span>
				</h3>
			</div>
			<button value="submit" ng-click="onSubmit()" class="btn btn-success">
				Send Email
			</button>
		</div>
	</div>
</div>